m-container {
  text-wrap: wrap;
  justify-content: center;
}
.subclass {
  margin-top: 3rem;
  padding-left: 16rem;
  padding-right: 10rem;
  font-size: 1.5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 92.7%;
  height: 35rem;
  color: var(--text-color-100);
  text-align: justify;
}
.childclass {
  display: flex;
  justify-content: center;
}
