.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.card-info {
  height: 20rem;
  width: 22rem;
  padding: 10px;
  outline: 1px solid var(--text-color-100);
  border-radius: 5px;
  transition: transform 100ms linear;
  overflow: hidden;
}

.card-info:hover {
  transform: scale(1.05);
}

.card-subtitle {
  color: var(--text-color-100);
  font-size: 1.4em;
  margin-bottom: 15px;
}

.card-descripition {
  color: var(--text-color-100);
  font-size: 0.9em;
  justify-content: center;
  text-align: justify;
}