.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.card-info {
  width: 22rem;
  padding: 10px;
  outline: 1px solid #3c2a21;
  border-radius: 5px;
  transition: transform 100ms linear;
}

.card-info:hover {
  transform: scale(1.1);
}

.card-subtitle {
  color: var(--text-color);
  font-size: 1.4em;
  margin-bottom: 15px;
}

.card-descripition {
  color: var(--text-color-opacity-low);
  font-size: 0.9em;
}
