@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: var(--text-color-100);
  background-color: var(--background-color);
}

:root {
  --text-color-100: #0b0b0c;
  --background-color: #fff;
  --background-color-100: hsl(0, 0%, 100%, 0.1);
}

.logo {
  color: var(--text-color-100);
  margin: 10px;
  font-size: 1.5rem;
  letter-spacing: -2px;
  transition: all 1000ms;
}

p:hover {
  letter-spacing: 0px;
  transition: all 500ms;
}

ul {
  margin: 12px;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  font-size: 1.2rem;
  list-style: none;
}

.nav-link-nav {
  background-color: var(--background-color-100);
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-100);
  position: sticky;
  padding: 0 20px;
  top: 0;
  border-bottom: 1px solid var(--text-color-100);
  backdrop-filter: blur(10px);
}

li {
  color: var(--text-color-100);
}

.container2 {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--background-color);
}

.btn-more {
  background-color: var(--background-color);
  color: var(--text-color-100);
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-link,
.text-center {
  color: var(--text-color-100);
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #b4743c;
  border-radius: 50px;
}

.back-ln {
  display: flex;
}

.btt-back {
  margin-left: 30rem;
  font-size: 20px;
  border-radius: 5px;
}