@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: var(--text-color-200);
}

:root {
  --text-color-100: #e5e5cc;
  --text-color-opacity-low: rgb(229, 229, 204, 0.5);
  --background-color: #1a120b;
  --text-color-200: #d5cea3;
}

.logo {
  color: #d5cea3;
  margin: 10px;
  font-size: 1.5rem;
  letter-spacing: -2px;
  transition: all 1000ms;
}
p:hover {
  letter-spacing: 0px;
  transition: all 500ms;
}

ul {
  margin: 12px;
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  font-size: 1.2rem;
  list-style: none;
}
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a120b;
  position: sticky;
  padding: 0 20px;
  top: 0;
  border-bottom: 1px solid white;
}
li {
  color: #e5e5cb;
}
.container2 {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #1a120b;
}
.btn-more {
  background-color: #d5cea3;
  color: #1a120b;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
}
.footer {
  background-color: #1a120b;
}

.nav-link,
.text-center {
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: var(--text-color);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #b4743c;
  border-radius: 50px;
}
